/* home carousel */
@media (max-width:1024px) {
  .carousel_container{
    width: 100%;
    border: 1px solid gray;
    height: 240px;
  }
}
.catagory_item {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden; /* Ensures child elements don't overflow */
}

.catagory_item:hover {
  background-color: #495057; /* Slightly lighter shade for better contrast */
  color: #f8f9fa; /* Bright text for better readability */
  transform: scale(1.05); /* Slight enlargement */
}

.catagory_item:hover img {
  transform: scale(1.1); /* Add a zoom effect to the image */
  transition: transform 0.3s ease-in-out; /* Smooth image zoom */
}

.home_card:hover{
  border: 1px solid black;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;

}